AddDefaultCharset UTF-8
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
#RewriteRule .* index.php [L]
RewriteRule ^system/([^/\.]+)/([^/\.]+) index.php [L]
RewriteRule ^system/([^/\.]+) index.php [L]
RewriteRule ^templates/default/index.php index.php [L]
RewriteRule ^templates/default/includes/([^/\.]+) index.php [L]
ErrorDocument 404 /index.php
Options All -Indexes
DirectoryIndex index.php
AddType text/cache-manifest .manifest
<IfModule mod_expires.c>
    ExpiresActive On
    ExpiresByType text/cache-manifest "access plus 0 seconds"
</IfModule>