html, body{
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    min-width: 850px;
    padding: 0;
    position: relative;
}
.clear{
    clear: both;
}
.wrapper{
    /*
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    */
}
/* Header */
header{
    background: #D0D0D0;
    font-size: 18px;
    font-weight: bold;
    height: 67px;
    line-height: 67px;
    margin: 0;
}
.menu{
    float: left;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #929292;
    padding: 22px 30px;
    text-decoration: none;
    transition-duration: 150ms;
}
.menu li a:hover{
    color: #ffffff;
    transition-duration: 150ms;
}

.user_menu{
    color: #929292;
    float: right;
    padding-right: 40px;
    position: relative;
}

.user_menu .avatar img {
    border-radius: 99px;
    /*margin: 10px 10px -10px 0;*/

}
.user_menu div{
    float: left;
    background:  #D0D0D0;
    position: relative;
    z-index: 100;
}
.arrow{
    border: 10px solid transparent;
    border-top-color:#929292;
    top:30px;
    left:10px;
    height: 0;
    width: 0;
    transition-duration: 80ms;
}

.user_menu:hover .arrow, .selectul:hover .arrow{
    border: 10px solid transparent;
    border-bottom-color:#929292;
    top:20px;
    height: 0;
    width: 0;
    transition-duration: 180ms;

}
.user_menu ul {
    background: #D0D0D0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transition-duration: 300ms;
    top: -167px;
    width: 100%;
    z-index: 2;
}

.user_menu:hover ul{
    top: 67px;
    transition-duration: 300ms;
}

.user_menu li{
    font-weight: normal;
    line-height: 14px;
    padding: 10px;
    transition-duration: 300ms;
}
.user_menu li:hover{
    color: #ffffff;
    background: #c2c2c2;
    transition-duration: 300ms;
}

/* Header - end */


/* Calendar */
.calendar{
    border-bottom: 3px solid #D0D0D0;
    height: 90px;
    overflow: hidden;
}

#calendar{
    overflow-y: hidden;
    overflow-x: scroll;
}
#calendar ul {
    padding-left: 0;
    height: 80px;
    display: table;
    margin-top: 10px;
}
.calendar ul li{
    color: #bcbcbc;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 0 14px;
}
.calendar li .month{

}
.calendar li .day{
    font-size: 25px;
}
.calendar li .week_day{

}
/* Calendar - end */

/* Left_bar */
.left_bar{
    background: #fff;
    border-right: 3px solid #D0D0D0;
    float: left;
    width: 500px;
}
#projects, #tasks{
    height: 400px;
    overflow-y: scroll;
}
.action_bar{
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    width: 410px;
    font-size: 14px;
}

.add_task{
    color: #929292;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    width: 200px;
}
.plus{
    background: #929292;
    height: 14px;
    float: left;
    width: 14px;
    position: relative;
    margin: 13px 3px 3px 3px;

}
#p1,#p2,#p3,#p4{
    background: #ffffff;
    height: 5px;
    position: absolute;
    width: 5px;
}
#p2{
    top: 0;
    right: 0;
}
#p3{
    bottom: 0;
    right: 0;
}
#p4{
    bottom: 0;
    left: 0;
}
.action_bar .select{
    float: left;
}
.action_bar select{
    display: none;
    border: none;
    outline: none;
    background: #e4e4e4;
    padding: 5px;
    margin-top: 8px;
}

.action_bar select option{
    margin: 5px;
}

.selectul ul{
    list-style: none;
    float: left;
    margin: 7px 0 0 0;
    padding: 0;
    width: 200px;
    color: #929292;
    position: relative;
}

.selectul li{
    padding-left: 10px;
    background: #E4E4E4;
    line-height: 24px;
}

.selectul .arrow{
    position: absolute;
    top: 8px;
    left: 170px;
    float: right;
}

.selectul:hover .arrow{
    top: -2px !important;
}
.selectul:hover #none{
    display: block;
}
#none{
    display: none;
    position: absolute;
}
#none ul {
    width: 190px;
}
.task_name{
    background: #efefef;
    padding: 10px 0 10px 30px;
}

.active_day{

}

.task_info{
    padding: 7px 0 7px 30px;
}
/* Left_bar - end */

/* Center */

.center{
    margin-left: 500px;
}
.center .title h4{
    background: #FF9C00;
    color: #fff;
    margin: 0;
    padding: 20px;
}

/* Center - end */

/* Task*/
.task label{
    width: 200px;
    float: left;

}
.task form{
    padding: 5px 15px;
}

.task input,.task textarea{
    width: 70%;
}

.task textarea{
    height: 100px;
}


/* Task - end */

/* Project */
.project{
    padding: 0 20px;
    font-size: 14px;
}
.project_time{
    color: #FF9C00;
}
.date_start{
    float: left;
}
.date_end{
    float: right;
}
.project_time_all{
    background: #EEEEEE;
    margin: 3px 150px 0;
    float: none;
    height: 18px;
}
.project_rime_cur{
    background: #FF9C00;
    width: 20%;
    height: 18px;

}

.iniciator{
    margin-top: 10px;
}
.iniciator div, .uchastniki div{
    color: #FF9C00;
    width: 100px;
    float: left;
}
/* Project - end */

.comments{
    overflow-y: scroll;
    height: 220px;
    width: calc(100% - 60px);
}
.comment_info{
    float: left;
    width: calc(100% - 50px);
    margin-left: 10px;
}
.comment .photo,.comment_info .name,.comment_info{
    float: left;
}
.date{
    float: left;
    margin-left: 5px;
}
.photo img{
    border-radius: 99px;
}
.comment{
    min-height: 50px;
}

.project textarea{
    width: calc(100% - 60px);
    height: 60px;
    margin: 5px 0 0 ;
}




