.wrapperautreg{
    background: transparent radial-gradient(ellipse, #FFF, #FFF, #F9F9F9, #CCC, #999) repeat;
    overflow: hidden;
}
.wrapperautreg a{
    text-decoration: none;

}
.authbody {	 /*Стиль страницы для формы авторизации*/
    font-family: Tahoma,Geneva,sans-serif;
    text-align: center;
    padding: 120px 20px;
    font-size:18px;
}
.regbody {	 /*Стиль страницы для формы регистрации */
    font-family: Tahoma,Geneva,sans-serif;
    text-align: center;
    padding: calc(100% - 1270px) 20px;
    font-size:18px;
}
.authregbtn{
    background: #999999;
    color: #fff;
    margin: 5px auto;
    padding: 10px;
    width: 235px;
    cursor: pointer;
}
.Au1 {
    font-size: 22pt;
    color: #626262;
    cursor: default;
}
.Au2 {
    color: #282828;
    width:70%;
    height: 30px;
    margin:5px;
    padding-left: 5px;
}
.Au3 {
    color: #626262;
    padding: 20px;
    height:5px;
    width:100px;
    text-align:center;
}
#E{
    padding: 30px 5px 3px;
}

#In{
    /*padding: 8px 5px 3px;*/
}
#Reg{
    padding: 3px 5px 30px;
}
#Reg1{
    padding: 18px 1px 10px;
}

.auth {
    padding: 0 5px;
}

.formauth,.formreg {
    background:#d0d0d0;
    color:#FFFFFF;
    font-size:18px;
    width:360px;
    margin:auto;
    padding:45px 20px;
    height: 340px;
    background-origin: content-box;
    background-clip:border-box;
    background: url("../images/form.png");
    background-size:100% 100%;
}
.formreg{
    height: 450px;
}

.avatar img{
    border-radius: 99px;
}
#status {
    color:#777;
}


html, body{
    font-family: Tahoma, Geneva, sans-serif;
    margin: 0;
    min-width: 850px;
    padding: 0;
    position: relative;
    font-size: 15px;
}
.clear{
    clear: both;
}
.wrapper{
    /*
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
    */
}
/* Header */
header{
    background: #D0D0D0;
    font-size: 18px;
    font-weight: bold;
    height: 67px;
    line-height: 67px;
    margin: 0;
}
.menu{
    float: left;
    margin: 0;
    padding: 0;
}
.menu li{
    display: inline-block;
}
.menu li a{
    color: #929292;
    padding: 22px 30px;
    text-decoration: none;
    transition-duration: 150ms;
}
.menu li a:hover{
    color: #ffffff;
    transition-duration: 150ms;
}

.user_menu{
    color: #929292;
    float: right;
    padding-right: 40px;
    position: relative;
}

.user_menu .avatar img {
    border-radius: 99px;
    margin: 10px 10px -10px 0;

}
.user_menu div{
    float: left;
    background:  #D0D0D0;
    position: relative;
    z-index: 100;
    cursor: default;
}
.arrow{
    border: 10px solid transparent;
    border-top-color:#929292;
    top:30px;
    left:10px;
    height: 0;
    width: 0;
    transition-duration: 80ms;
}

.user_menu:hover .arrow, .selectul:hover .arrow{
    border: 10px solid transparent;
    border-bottom-color:#929292;
    top:20px;
    height: 0;
    width: 0;
    transition-duration: 180ms;

}
.user_menu ul {
    background: #D0D0D0;
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
    transition-duration: 300ms;
    top: -167px;
    width: 100%;
    z-index: 2;
}

.user_menu:hover ul{
    top: 67px;
    transition-duration: 300ms;
}

.user_menu li{
    font-weight: normal;
    line-height: 14px;
    padding: 10px;
    transition-duration: 300ms;
    cursor: pointer;
}
.user_menu li:hover{
    color: #ffffff;
    background: #c2c2c2;
    transition-duration: 300ms;
}

/* Header - end */


/* Calendar */
.calendar{
    border-bottom: 3px solid #D0D0D0;
    height: 90px;
    overflow: hidden;
}

#calendar{
    overflow-y: hidden;
    overflow-x: scroll;
}
#calendar ul {
    padding-left: 0;
    height: 80px;
    display: table;
    margin-top: 10px;
}
.calendar ul li{
    color: #bcbcbc;
    display: table-cell;
    list-style: none;
    text-align: center;
    padding: 0 14px;
    cursor: default;
}
.calendar li .month{

}
.calendar li .day{
    font-size: 25px;
}
.calendar li .week_day{

}
/* Calendar - end */

/* Left_bar */
.left_bar{
    background: #fff;
    border-right: 3px solid #D0D0D0;
    float: left;
    width: 500px;
}
.left_bar a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}
#projects, #tasks{
    height: 400px;
    overflow-y: scroll;
}
.action_bar{
    height: 40px;
    line-height: 40px;
    margin: 0 auto;
    width: 410px;
    font-size: 14px;
}

.add_task{
    color: #929292;
    font-weight: bold;
    float: left;
    margin-left: 10px;
    width: 200px;
}
.plus{
    background: #929292;
    height: 14px;
    float: left;
    width: 14px;
    position: relative;
    margin: 13px 3px 3px 3px;

}
#p1,#p2,#p3,#p4{
    background: #ffffff;
    height: 5px;
    position: absolute;
    width: 5px;
}
#p2{
    top: 0;
    right: 0;
}
#p3{
    bottom: 0;
    right: 0;
}
#p4{
    bottom: 0;
    left: 0;
}
.action_bar .select{
    float: left;
}
.action_bar select{
    display: none;
    border: none;
    outline: none;
    background: #e4e4e4;
    padding: 5px;
    margin-top: 8px;
}

.action_bar select option{
    margin: 5px;
}

.selectul ul{
    list-style: none;
    float: left;
    margin: 7px 0 0 0;
    padding: 0;
    width: 200px;
    color: #929292;
    position: relative;
    cursor: default;
}

.selectul li{
    padding-left: 10px;
    background: #E4E4E4;
    line-height: 24px;
}

.selectul .arrow{
    position: absolute;
    top: 8px;
    left: 170px;
    float: right;
}

.selectul:hover .arrow{
    top: -2px !important;
}
.selectul:hover #none{
    display: block;
}
.selectul li{
    font-weight: normal;
    transition-duration: 300ms;
}
.selectul li:hover{
    color: #ffffff;
    background: #c2c2c2;
    transition-duration: 300ms;
}
#none{
    display: none;
    position: absolute;
    padding: 0;
}
#none ul {
    margin: 0;
    padding: 0;
}
#none ul li{
    cursor: pointer;
    padding-left: 10px;
}
.task_name{
    background: #efefef;
    padding: 10px 0 10px 30px;
    cursor: default;
}

.active_day .task_name{
    background: #FF9C00;
    color: #fff;
    font-weight: bold;
}

.task_info{
    padding: 7px 0 7px 30px;
    cursor: pointer;
    transition-duration: 200ms;
}
.task_info:hover{
    background: #FF9C00;
    color: #fff;
    transition-duration: 200ms;
}
.alert, .dia, .screpka, .galka{
    float: left;
    margin: 0 3px;
}
.galka{
    margin-right: 10px;
}


/* Left_bar - end */

/* Center */

.center{
    margin-left: 500px;
    padding: 0 10px;
}
.center .title h4{
    background: #FF9C00;
    color: #fff;
    margin: 0 -10px;
    padding: 20px;
}

/* Center - end */

/* Task_add*/
.task_add{
    color: #929292;
}
.task_add label{
    width: 200px;
    float: left;

}
.task_add form{
    padding: 5px 15px;
}

.task_add input,.task_add textarea{
    width: 70%;
}
.task_add input:focus,.task_add textarea:focus{
    outline: 4px solid #FF9C00;
}
.task_add textarea{
    height: 120px;
}

#date_finish, #hours, #minuts{
    outline: none;
}
.create{
    float: right;
    height: 25px;
    width: 120px !important;
    margin-bottom: 10px;
}
.create input:focus{
    outline: none;
}
.create+div{
    font-weight: bold;
}
/* Task_add - end */

/* Project */
.project, .task{

    font-size: 14px;
}
.project_time{
    color: #FF9C00;
    margin-bottom: 10px;
}
.date_start{
    float: left;
}
.date_end{
    float: right;
}
.project_time_all{
    background: #EEEEEE;
    margin: 3px 150px 0;
    float: none;
    height: 18px;
    position: relative;
    text-align: center;
    color: #000;
}
.project_rime_cur{
    background: #FF9C00;
    width: 10%;
    height: 18px;
}
.countpercent{
    position: absolute;
    z-index: 100;
    text-align: center;
    width: 100%;
}
.files{
    margin-top: 10px;
}
.task_table div{
    color: #FF9C00;
    width: 100px;
    float: left;
}
.center a{
    color: #999999;
    text-decoration: none;
    font-weight: bold;
}
/* Project - end */

.comments{
    overflow-y: scroll;
    height: 220px;
}
.comments_title{
    margin: 5px 0;
}
.comment .photo{
    width: 30px;

}
.comment{
    min-height: 50px;
}
.comment img{
    float: left;
    margin-right:10px ;
}
.comment .name{
    float: left;
    margin-right: 10px;
}
.comment .text{
    margin: 5px 0;
}
.date{
    margin-left: 5px;
}
.photo img{
    border-radius: 99px;
}
.project textarea,.task textarea{

    height: 60px;
    margin: 5px 0 0 ;
}
.project input{
    float: right;
}
h4{
    margin: 0;
    padding-top:10px;
}
#edit_pen{
    margin: 0 10px;
}

#page{
    margin: 0;
}
.groupflag{
    width: 300px !important;
}

.groupflag .action_bar{
    height: 80px;
    width: 200px !important;
}
.add_group{
    color: #929292;
    font-weight: bold;
}
.group,.pod_group{
    background: #EFEFEF;
    color: #929292;
}
.pod_group{
    background: #fff;
    padding-left: 10px;
}
.group_name{
    padding: 5px 0 5px 10px;
    font-weight: bold;
}
.group_count{
    padding: 5px 0 5px 10px;
}

.group_center{
    margin-left: 300px;
    padding: 0;
}
.group_center .item_title{
    background: #EFEFEF;
    padding: 10px 0 10px 30px;
}
.group_center .man{
    margin-left: 50px;
    padding: 5px 0;
}
.group_center .solution{
    float: right;
    margin-right: 30px;
}
.group_center .solution a{
    margin-left: 10px;
}
.group_center .title h4{
    margin: 0 ;
}


.group_table{
    display: table;
    width: auto;
    margin: 20px;
    text-align: center;
}
.group_tr{
    display: table-row;
}
.group_tr > div{
    display: table-row;
}
.group_tr > div  div{
    display: table-cell;

}
.account{
    width: 150px;
}
.account a{
    line-height: 37px;
}

.job_pos {
    width: 120px;
}
